* {
    margin: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    margin: auto;
}

.main-container {
    min-width: 360px;
    width: 85%;
    border: #fafafa 1px solid;
    margin: auto;
}

.header-container {
    padding: 8px 10px;
    top: 0%;
    background-color: rgba(255, 255, 255, .880) ;
    position: sticky;
    z-index: 1;
}

.header-flex-container {
    display:flex;
    justify-content: flex-start;
}

.back-arrow {
    margin-right:4% ;
    padding-top: 10px;
    padding-left: 25px;
    background-image: url("assets/leftBackArrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    justify-self: right;
}

.back-arrow:hover {
    background-color: #dadada;
    border: solid white 1px;
    border-radius: 25px ;
    cursor: pointer;
}
/*.back-arrow::before {
    content: '⬅';
}*/

.displayName {
    color: rgba(24, 21, 21, 0.836);
    font-size: 1.07em;
    font-weight: 680;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tweetCount {
    font-size: .8em;
    color:grey;
    margin-bottom: 5px;
}

.displayName::after {
    content: "☑️";
    padding-left: 4px;
    
}

.cover-photo {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.avatarContainer {
    position: absolute;
    top: 70%;
    left: 5%;
    border: 1px solid white;
    border-radius: 100%;
    width: 78px;
    padding: 1px;
    background-color: white;
}   

.avatarImage {
    border-radius: 100%;
    width:100%;
}

.profileDetails {
    margin-bottom: 25px;

}

.widget-button-section {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.followButton {
    font-size: .8em;
    margin: 10px 12px 0;
    padding: 6px 12px;
    /*margin:3% 5%;*/
    color: white;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    /*padding: 2% 3.5%;*/
    border-radius: 20px;
}

.followButton:hover {
    cursor: pointer;
    opacity: 85%;
}

.optionsWidget {
    font-size: 1.1em;
    font-weight: bold;
    margin-top:10px;
    padding: 0 8px 10px;
    border-radius: 25px;
    border: 1px solid #f1f1f1;

}

.optionsWidget:hover {
    cursor: pointer;
    background-color: #dadada;

}
/*
create all elements first
set a flex box on the accont details container
than style each
*/
.profileDetails-section {
    width: 80%;
    padding:16px 25px ;
    display: flex;
    flex-direction: column;
    flex-wrap: .1;
}

.name {
    color: black;
}

.userName {
    margin-bottom: 12px;
    color: rgb(116, 114, 114);
}

.joinedDate {
    color:rgb(116, 114, 114);
    margin-bottom: 10px;
}

.joinedDate::before {
    content: "📅";
}

.followContainer {
    display: flex;
    font-weight: 900;
}

.followingCount {
    margin-right: 18px;
}


.followText {
    color:rgb(116, 114, 114);
    font-weight: 200; 
}

.tweets-nav-bar {
    display: flex;
    justify-content: space-around;
    color:rgb(116, 114, 114);
    font-weight: 560;
}

.tab {
    padding:12px 12px;
}

.tab-bottom-border {
    height: 1px;
    background-color: cornflowerblue;
    border-radius: 10px;
    width: 100%;
    padding: 2px 2px;
    margin-top: 12px;
}

.hide {
    display: none;
}

.active {
    display: block;
}

.tab:hover {
    background-color: #dadada;
    cursor: pointer;
}

.tab0-content {
    width: 100%;
}

.outterTweetContainer {
    display: flex;
    justify-content: space-around;
    border-top: #f1f1f1 solid 1px;
    border-bottom: #f1f1f1 solid 1px;
    padding: 10px 0;
    margin-bottom: 12px;
}

.tweet-container {
    width:80%;
}

.avatarImageMini {
    margin-left: 10px;
    height: 60%;
    width: 45px;
    max-width: 50px;
}

.user-info-flex-container {
    color: rgb(27, 24, 24);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
     
}

.left-section-flex {
    width:85%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.displayName2 {
    font-size: .9em;
    padding-left: 5px;
    flex-grow: .1;
}

.userName2{
    font-size: 1em;
    padding: 0 5px;
    flex-grow: .1;
}

.timeStamp {
    width:70px; 
    font-size: .8em;
    padding-left: 5px;
    color:grey;
    flex-grow: .1;
}


.widget2Container {
    margin-top: none;
    flex-grow: .1;
}

.optionsWidget2 {
    color: grey;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 8px 10px;
    border-radius: 25px;
    border: 1px solid #f1f1f1;
    flex-grow: .1;
    } 
    
.tweetText {
    align-self: baseline;
}

.tweet-options-container {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content:space-between;

}


.commentsImg {
  width: 18px;  
}

.retweetImg {
    width: 18px;
    opacity: 70%;
}

.likesImg {
    width: 18px;
}

.shareImg {
    width: 18px;
    opacity: 70%;
}

@media only screen and (min-width: 600px){

    .avatarContainer {
        width: 15%;
        border: 2px white solid;
    }

    .avatarImage {
        width: 100%;
    }

    .profileDetails-section {
        padding: 2.5% 1%;
    }

}